#mainContainer {
    width: 700px;
    display: flex;
    flex-direction: column;
}

#title {
    font-size: 1.1rem;
    font-weight: 500;
}

#commonDesc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#ageConstraints {
    background: whitesmoke;
    color: grey;
    font-size: 0.8rem;
    padding: 3px;
    margin-right: 8px;
}

.text {
    font-size: 0.8rem;
    font-weight: 500;
}

#listens {
    color: grey;
}

#commonRightSide {

}

#additionalDesc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

#additionalLeftSide {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#language, #category {
    color: grey;
}

#duration {
    color: rgb(89, 89, 89);
}

#freeTrialBtn, #playBtn {
    background-color: #EE4130;
    font-weight: 500;
    border-radius: 8px;
}

#buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

#bookmarkIcon {
    width: 25px;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid grey;
    height: 25px;
    cursor: pointer;
    color: grey;
}

#playBtn {
    width: 92%;
}